.gray{
    height: 120px;
    background-color: white;
}
.white{
    height: 120px;
    background-color:white;
    display: flex;
}
.logo{
    position: relative;
    bottom: 30px;
    
}
.boutton{
    margin-left: 150px;
}
.yellow{
    height: 400px;
    background-color: white;
}
.chirurgie {
    margin-top: 120px;
}
.chirurgie p{
    margin-top: -250px;  
}
.green{
    height: 250px;
}
.kaki{
    height: 500px;
}
.success{
    height: 450px;
}
.kl{
    height: 250px;
}
.pied
{
    background-color: #19a347;
}

@media all and (max-width:500px), ()
{
   .gray{
       position: fixed; z-index: 4;    
   } 
   .boutton{
       display: none;
   }

}



[class*="reveal-"]
{
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible
{
    opacity: 1;
    transform: translateY(0);
    transition: .5s cubic-bezier(.71,.03,.03,.93);
}
.reveal-1
{
    transition-delay: .3s;
}
.reveal-2
{
    transition-delay: .4s;
}
.reveal-3
{
    transition-delay: .5s;
}
.reveal-4
{
    transition-delay: .6s;
}
.reveal-5
{
    transition-delay: .7s;
}