html{
    scroll-behavior: smooth;
}

.img{
    background: url(../images/labo.jpg)no-repeat 50% 50%;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
}

.header{
    background: url(../images/manuel\ de\ prelevement.jpg)no-repeat 60% 60%;
    background-size: cover;
    height: 350px;
    margin-top:px;
    
}
header p{
    display: inline;
    margin: 60px;
    color: white;
    padding-bottom: 25px;

}
.p1{
    background: url(../images/espace\ patient.jpeg)no-repeat 50% 50%;
    height: 350px;
    background-size: cover;
    opacity: 0;
    width: 300px;
}

.p2{
    background: url(../images/nos\ labo.jpeg)no-repeat 50% 50%;
    height: 350px;
    background-size: cover;
    opacity: 0;
    width: 300px;
}
.p3{
    background: url(../images/vos\ resultats\ en\ ligne2.jpeg)no-repeat 50% 50%;
    height: 350px;
    background-size: cover;
    opacity: 0;
    width: 300px;
}
.p4{
    background: url(../images/outil\ de\ prelevement3.jpeg)no-repeat 50% 50%;
    height: 350px;
    background-size: cover;
    position: relative;
    left: 45px;
    opacity: 0;
    width: 350px;
}
.p4:hover{
    opacity: 1;
}
.p1:hover{
    opacity: 1;
}
.p2:hover{
    opacity: 1;
}
.p3:hover{
    opacity: 1;
}
.up{
    height: 50px;
    background-color: blue;
}
.up2{
    height: 50px;
    background-color: violet;
}
.up3{
    height: 50px;
    background-color: orange;
}
.up4{
    height: 50px;
    background-color: green;
}





.position
{
    position: relative;
    right: -125px;
    top: -25px;
}
.blanc
{
    background-color: white;
}
.margin
{
    margin-top: 90px;
}
.btn-outline-success
{
    background-color:#2b904c
}
.text
{
    font-size: xx-large;
}
.black
{
    background-color: black;
    height: 225px;
}   
.urgence
{
    height: 30px;
    width: 400px;
    background-color: #2b904c
}
.specialite
{
    height: 65px;
    background-color: #19a347;
    
}
.card-body:hover
{
    background-color: #247740;
}
.zoom:hover{
    cursor: pointer;
    transform:scale(1.08);
    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1);
}
.pourquoi
{
    font-size: x-large;
    text-transform: uppercase;
    font-weight: bold;
}
.pied
{
    background-color: #19a347;
}
.coloration a{
    color: white;
}





[class*="reveal-"]
{
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible
{
    opacity: 1;
    transform: translateY(0);
    transition: .5s cubic-bezier(.71,.03,.03,.93);
}
.reveal-1
{
    transition-delay: .3s;
}
.reveal-2
{
    transition-delay: .4s;
}
.reveal-3
{
    transition-delay: .5s;
}
.reveal-4
{
    transition-delay: .6s;
}
.reveal-5
{
    transition-delay: .7s;
}
.reveal-6
{
    transition-delay: .10s;
}

@media screen and (max-width: 750px) {
   .dropdown
   {
       position: relative;
       right: 75px;
   }
   .contact
   {
       position: relative;
       left: 150px;
       bottom: 38px;
   }
   .recherche
   {
       display: none;
   }
   .nav
   {
       display: none;
   }
}