
.position
{
    position: relative;
    right: -125px;
    top: -25px;
}
.justify-content{
    padding: 10px;
}
     .container corps{
        flex: 1;
        min-width: 47%;
     }


.hauteur
{
    height: 250px;
    border: black solid 2px;
}
.col:hover{
    background-color: #008989;
    border-radius: 5px; 
box-shadow: #f5f5f5 0 0 2px 3px; 
}

.pied
{
    background-color: #19a347;
}